@import '../../assets/scss/index.scss';

.modal{


    .parent-modal-title{
        text-align: center;
    }

    &-form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        h2 {
                margin: 10px 0 10px 0;
                text-align: center;
            }

        .container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }

        
        input {
            width: 200px;
            height: 30px;

            // background-color: white;
            // color: black;

            border-radius: 10px;

            margin: 5px;
            padding: 5px;

        }
    }

    &-buttons{
        display: flex;
        justify-content: center;

        button {
            width: 30%;
            height: 20%;
            padding: 10px;
            margin-top: 20px;
        }
    }
    

}


